@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

// TODO - Probably don't really need this
$zindex_curtains: 20;
$zindex_titles: 10;
$zindex_titles_text: 15;
$zindex_bg: 1;

// TODO - Fix the broken-ass CSS LOL
.section { 
  @include bg-cover('../../../static/images/bg1.jpg'); 
  background-position-x: 50%;
  z-index: $zindex_bg;

  .curtains {
    position: absolute; z-index: $zindex_curtains;
    top: 0px; left: 0px;
    width: 100%; height: 100%;
    pointer-events: none;
  
    .curtain {
      position: relative;
      display: inline-block;
      width: 50%; height: 100%;
      background: $darkBackground;
      transition: left 500ms, right 500ms;

      &.left { right: 0% }
      &.right { left: 0% }

      img {
        position: absolute;
        top: 50%;
        width: auto; height: 80%;
        transform: translateY(-50%);

        &.left {
          right: 0px;
        }
        &.right {
          left: 0px;
          transform: scaleX(-1) translateY(-50%);
        }
      }
    }
  }
  
  .frontend {
    position: absolute; z-index: $zindex_titles;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 75%; max-width: 800px;
    padding: 40px;
    text-align: center;

    .title { 
      display: inline-block;
      z-index: $zindex_titles_text;
      height:3.5em;
      overflow-y: hidden;

      h1 {
        position: relative;
        color: $lightBlueText;
        font-family: "Geomanist", sans-serif;
        font-size: 3.5em; 
        font-weight: bold;
        transition: margin-top 250ms;

        span {
          visibility: hidden;
        }

        .over {
          position:absolute;
          top: 50%;
          width: 0%; height: 116%;
          transform: translateY(-50%);
          background: $lightBlueText;
          transition: width 500ms;
        }
      }
    }
  
    [parallaxdistance] {
      position: relative;
      top: 0px; left: 0px;  
    }

    .iconWrapper {
      position: absolute;
      width: 80px; height: 80px;
      cursor: pointer;

      &>div { width: 100%; height: 100%; }
      
      &>.bg { 
        width: 100%; height: 100%;
        background-color: $darkBackground;
        opacity: 0.8;
        transition: background-color 400ms, opacity 400ms;
      }
      &>.icon {
        position:absolute;

        img {
          position: absolute;
          top: 10%; left: 10%; 
          width: 80%; height: 80%;
        }
      }

      &:hover {
        &>.bg {
          background-color: #FFF;
          opacity: 0.5;
        }
      }

      &[icon="github"]  { top: -15%; right: 5%; }
      &[icon="gmail"]   { top: -15%; left: 5%; }
      &[icon="linkedin"] { bottom: -15%; left: 5%; }
      &[icon="CV"]      { bottom: -15%; right: 5%; }

      /*&.cover {
        top: 50%; left: 50%;
        width: 60%; height: 80%;
        min-width: 480px;
        transform: translate(-50%,-50%);

        &>.bg { 
          background: $darkBackground;
          opacity:0.5;
        }
      }*/
    }
  }
}